.bg-foto {

   background-image: url(../img/ba1.jpg);
    height: 55rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 75%;
}
.card-img-overlay {
    position: absolute;
    top: 300px;
    right: 5px;
    bottom: 5px;
     left: auto;
    padding: 1rem;
    border-radius: calc(0.25rem - 1px);
    width: 50%;
    float: right !important;
}

.cardt{
    text-align: right;
    margin-right: 130px;
   

}
.cardl{
    text-align: right;
    margin-right: 130px;

}
.card4{
    margin-left: 2px;
    margin-right: 2px;
}

.bg-black{
    background-color: rgb(34, 34, 36);
}

.btn1{
    margin-right: 130px;
}
.card{
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
    margin-right: 10px;
}
/*.card-group{
    margin-left: 150px;
    margin-right: 150px;
}*/

@media (max-width:800px) {
    .card-img-overlay{
        width: 100% !important;
    }
    .footer{
        margin-bottom: 10px;
    }
}

